<h1>Inicia sesión con tu cuenta</h1>

<form action="/login" method="post">
  <div class="mb-3">
    <label for="email" class="form-label">Correo eléctronico</label>
    <input type="email" class="form-control" id="email" name="email" value="{{email}}" required>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control {{#if error}}is-invalid{{/if}}" id="password" name="password" required>
    <div class="invalid-feedback">
      {{error}}
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Iniciar sesión</button>
</form>